.authorInfo{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 20px 35px 0px 35px;
    line-height: 20px;
    background-color:#EEEEEF;
    grid-area: aut;
    text-align: justify;
}

.authorBio{
    display: flex;
    flex-direction: row;
    padding: 0px 35px 35px 35px;
    line-height: 20px;
    background-color:#EEEEEF;
    grid-area: autbio;
    text-align: justify;
}

.authorPicture{
    padding-right: 10px;
}

.authorPicture img{
    height: 200px;
}

.authorDetails{
    line-height: 10px;
    padding-left: 20px;
    /* font-size: 2em; */
}

.authorBio li{
    list-style-type: circle;
}