@media (max-device-width: 1000px){
    .content{
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        align-content: center;
        justify-content: center;
    }
    .postHeader img{
        width: 400px;
    }
    .blogImage{
        height: 480px;
    }
    .shareItem{
        scale: 200%;
    }
    .authorDetails{
        font-size: 32px;
    }
    .authorBio{
        font-size: 1em;
        line-height: 1.4em;
    }
    .post{
        font-size: 0.7em;
    }
    .headerSubContainerBottom img{
        height: 240px;
    }
    .infobox{
        width: fit-content;
        text-align: left;
    }
}